body {
    padding: 40px;
    background-image: url("images/watercolor.jpg");
    background-attachment: fixed;
    background-color: #b3e6ff
}

.fancy {
    color: #ff6666;
    font-family: cursive;
    text-align: center;
}

p {
    font-family: Verdana;
    border: 2px solid #ff6666;
    border-radius: 5px;
    
    background-color: white;
}

img {
    align-content: center;
}

footer {
    text-align: center;

}