body {
    font-family: Optima, sans-serif;
    height: auto;
    background-image: url("./images/watercolor2-web.jpg");
    background-attachment: fixed;
}

img {
    width: 300px;
}

.main-title {
    text-align: left;
    font-size: 50px;
    font-style: bold;
}

.subtitle {
    text-align: center;

    font-size: 20px;
    font-style: bold;
}

.textbox {
    padding: 15px;
    background-color: white;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.footer {
    text-align: center;
    font-size: 10px;
}