body {
    margin: 40px;
    font-family: Optima, sans-serif;
    background-color: white;
}

span {
    font-size: 50px;
    font-style: bold;
}

div {
    height: auto;
    padding: 5px;
    background-image: url("images/watercolor2.jpg");
    background-attachment: fixed;
    background-color: #b3e6ff;
    text-align: center;
    font-size: 20px;
    font-style: bold;
}

#title {
    text-align: left;
}

a {
    text-decoration: none;
}

.footer {
    text-align: center;
    font-size: 10px;
}